.education-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
    border-bottom: 1px solid #FFFFFF;
    margin-bottom: 2rem;
}

.education-title {
    font-size: 1.2rem;
    font-weight: 600;
}

.education-container:last-of-type {
    border-bottom: none;
}

.teacher {
    font-weight: 600;
    margin: 0.2rem 0;
}

.subinfo {
    font-size: 0.9rem;
    margin-bottom: 1rem;
}

