.footer-container {
    padding: 10px;
    background-color: #000000;
    color: #fff;
    text-align: center;
    font-size: 0.8rem !important;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-text {
    margin: 0;
}

@media (min-width: 768px) {
    .footer-container {
        font-size: 1rem;
    }
    
}