.Home {
    background-color: $claridad !important;
    display: flex;
    align-items: center;
    justify-content: space-around;

    &__Button {
        border: none;
        background-color: $claridad;
        height: 3rem;
        width: 3rem;
        font-size: x-large;
    }
}

.ContainerHome {
    height: 60vh;
    width: 75vw;

}
